n8n/workflows/WF-01_ATLAS_MASTER_CONTROLLER.json
{
  "name": "DS Atlas — Master Controller",
  "nodes": [
    {
      "parameters": {},
      "id": "1dfea174-238b-4b1f-be83-f0c7cc348544",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1000,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7382dcc2-e702-4c0f-a5b1-c65249feb31e",
              "name": "github_owner",
              "value": "CONFIGURE_GITHUB_OWNER",
              "type": "string"
            },
            {
              "id": "652e36e2-fff4-4475-b89f-3351d3d89ed2",
              "name": "github_repo",
              "value": "CONFIGURE_GITHUB_REPOSITORY",
              "type": "string"
            },
            {
              "id": "3d044ca3-326c-40be-a880-40bd7e600a15",
              "name": "branch",
              "value": "atlas-drafts",
              "type": "string"
            },
            {
              "id": "54ac09fd-b9bf-48e5-8753-642b6793454e",
              "name": "manifest_path",
              "value": "config/ATLAS_MASTER_MANIFEST.json",
              "type": "string"
            },
            {
              "id": "bc91c23f-b171-4d27-b6ea-f455b1b4472a",
              "name": "generator_workflow_id",
              "value": "CONFIGURE_GENERATOR_WORKFLOW_ID",
              "type": "string"
            },
            {
              "id": "d30010f0-7cd4-4f66-9eb6-ee2e8c862cf1",
              "name": "batch_size",
              "value": 1,
              "type": "number"
            },
            {
              "id": "57cc72eb-d8ab-42a5-81fd-ccf6327ef6ac",
              "name": "execution_mode",
              "value": "OFFLINE",
              "type": "string"
            },
            {
              "id": "08c216f3-f480-486a-b015-a73e74633601",
              "name": "dry_run",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "d444b35d-c702-4963-a39d-88bb4ba326ab",
              "name": "founder_write_approved",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "f9c98dd4-4696-422f-a87d-9edb358c8584",
              "name": "credentials_configured",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "1a8b3304-a2b0-4eb5-81aa-a8b256c4999e",
      "name": "Pipeline Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const allowed = new Set(['OFFLINE', 'VALIDATE', 'DRY_RUN', 'LIVE']);\nconst requested = $json.execution_mode;\nconst executionMode = typeof requested === 'string' && allowed.has(requested) ? requested : 'OFFLINE';\nreturn [{json:{\n  ...$json,\n  execution_mode: executionMode,\n  dry_run: $json.dry_run === false ? false : true,\n  founder_write_approved: $json.founder_write_approved === true,\n  credentials_configured: $json.credentials_configured === true\n}}];"
      },
      "id": "33ec4dd5-5131-43fb-8ddf-114ab8374dc4",
      "name": "Resolve Execution Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21b7f648-ef90-4444-9bf4-fb8ec361b721",
              "leftValue": "={{ $json.execution_mode === 'DRY_RUN' || $json.execution_mode === 'LIVE' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6fc68319-dc92-48a1-8cab-7b6c95ce07f2",
      "name": "Network Execution Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -340,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const mode = $json.execution_mode === 'VALIDATE' ? 'VALIDATE' : 'OFFLINE';\nreturn [{json:{\n  status: mode === 'VALIDATE' ? 'validate_local_only' : 'offline_local_only',\n  execution_mode: mode,\n  network_performed: false,\n  write_performed: false,\n  local_validation_required: true,\n  validation_scope: ['manifest', 'registry', 'schema', 'workflows', 'secrets', 'execution_mode'],\n  validation_command: 'python3 scripts/validate_manifest.py'\n}}];"
      },
      "id": "42994ec7-9596-462c-8bef-7db635f9bf61",
      "name": "Return Local Validation Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        120
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json.github_owner}}/{{$json.github_repo}}/contents/{{$json.manifest_path}}?ref={{$json.branch}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GITHUB_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "16228c0a-563f-412d-ac27-7e7e4a191e3e",
      "name": "Fetch Manifest From GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Pipeline Configuration').first().json;\nconst encoded = ($json.content || '').replace(/\\n/g, '');\nif (!encoded) throw new Error('GitHub response did not contain manifest content.');\nconst manifest = JSON.parse(Buffer.from(encoded, 'base64').toString('utf8'));\nreturn [{json: {...cfg, manifest}}];"
      },
      "id": "3c55a745-4ec4-45c2-af61-9bee1f46ee00",
      "name": "Decode Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json;\nconst pending = (cfg.manifest.documents || []).filter(d => d.status === 'pending');\nif (!pending.length) return [];\nreturn pending.map(d => ({json: {\n  ...d,\n  pipeline: {\n    github_owner: cfg.github_owner,\n    github_repo: cfg.github_repo,\n    branch: cfg.branch,\n    manifest_path: cfg.manifest_path,\n    execution_mode: cfg.execution_mode,\n    dry_run: cfg.dry_run,\n    founder_write_approved: cfg.founder_write_approved,\n    credentials_configured: cfg.credentials_configured,\n    generator_workflow_id: cfg.generator_workflow_id\n  }\n}}));"
      },
      "id": "397bfdf8-ab99-405d-839b-a36657d75987",
      "name": "Select Pending Documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "57e9accc-e22d-42dc-b78c-72253f7375b1",
      "name": "Loop Over Documents",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        180,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{$json.pipeline.generator_workflow_id}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "8a70c376-0a8f-40cb-b52b-ccfa19e93688",
      "name": "Run Document Generator",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        440,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn [{json:{\n  completed_at: new Date().toISOString(),\n  processed_documents: items.length,\n  results: items.map(i => ({id:i.json.document_id || i.json.id, status:i.json.status, validation:i.json.validation_status, write_performed:i.json.write_performed === true}))\n}}];"
      },
      "id": "187cf2cf-1c92-43a1-9622-be9fc9145666",
      "name": "Run Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Pipeline Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Configuration": {
      "main": [
        [
          {
            "node": "Resolve Execution Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Execution Mode": {
      "main": [
        [
          {
            "node": "Network Execution Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Network Execution Mode?": {
      "main": [
        [
          {
            "node": "Fetch Manifest From GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Local Validation Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Manifest From GitHub": {
      "main": [
        [
          {
            "node": "Decode Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Manifest": {
      "main": [
        [
          {
            "node": "Select Pending Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Pending Documents": {
      "main": [
        [
          {
            "node": "Loop Over Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Documents": {
      "main": [
        [
          {
            "node": "Run Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run Document Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Document Generator": {
      "main": [
        [
          {
            "node": "Loop Over Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c2bfa7c-9db1-4d3e-9b2d-884e087695c2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
