n8n/workflows/WF-03_REPAIR_LOOP.json
{
  "name": "DS Atlas — Repair Loop",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "document",
              "type": "object"
            },
            {
              "name": "errors",
              "type": "array"
            },
            {
              "name": "attempt",
              "type": "number"
            },
            {
              "name": "pipeline",
              "type": "object"
            }
          ]
        }
      },
      "id": "2a0fcb42-9aab-495c-9ed9-63cb76100fe1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -900,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nconst p = source.pipeline || {};\nconst allowed = new Set(['OFFLINE', 'VALIDATE', 'DRY_RUN', 'LIVE']);\nconst requested = p.execution_mode;\nconst executionMode = typeof requested === 'string' && allowed.has(requested) ? requested : 'OFFLINE';\nreturn [{json:{\n  ...source,\n  pipeline: {\n    ...p,\n    execution_mode: executionMode,\n    dry_run: p.dry_run === false ? false : true,\n    founder_write_approved: p.founder_write_approved === true,\n    credentials_configured: p.credentials_configured === true\n  }\n}}];"
      },
      "id": "631e1810-1345-4692-bf04-e4efcabed2c1",
      "name": "Resolve Execution Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const attempt=Number($json.attempt||1);\nif(attempt>3) return [{json:{...$json,blocked:true,reason:'Maximum repair attempts exceeded'}}];\nreturn [{json:{...$json,blocked:false,attempt}}];"
      },
      "id": "8dbf5911-7c61-4e64-b2a9-cf727d77d2a6",
      "name": "Repair Attempt Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61a87df2-5ba3-4d54-9cf1-89ae9740d0b6",
              "leftValue": "={{$json.blocked}}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a637181-64a4-4350-9a26-f9fef0502d3b",
      "name": "Repair Allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const d=$json.document||{};\nconst prompt=`Repair the following Damavand Steel Atlas document without shortening it.\nDocument ID: ${d.document_id||d.id}\nValidation errors: ${JSON.stringify($json.errors)}\nExisting markdown:\n${d.markdown||''}\nReturn valid JSON only with document_id, markdown, open_questions, acceptance_criteria.`;\nreturn [{json:{...$json,prompt}}];"
      },
      "id": "677ad120-ed8d-47f5-8fa6-b835d9026932",
      "name": "Build Repair Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b263e75c-04e0-4a2a-af11-5a027c85d017",
              "leftValue": "={{ $json.pipeline?.execution_mode === 'DRY_RUN' || $json.pipeline?.execution_mode === 'LIVE' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7c3e49fa-d8ab-4ffc-8104-0b51c5fa781f",
      "name": "OpenAI Mode Allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const mode = $json.pipeline?.execution_mode === 'VALIDATE' ? 'VALIDATE' : 'OFFLINE';\nreturn [{json:{\n  document_id: $json.document?.document_id || $json.document?.id || null,\n  status: mode === 'VALIDATE' ? 'validate_local_only' : 'offline_local_only',\n  execution_mode: mode,\n  network_performed: false,\n  write_performed: false,\n  local_validation_required: true,\n  validation_scope: ['manifest', 'registry', 'schema', 'workflows', 'secrets', 'execution_mode'],\n  validation_command: 'python3 scripts/validate_manifest.py'\n}}];"
      },
      "id": "802c6a18-0ea8-4e56-a96d-98e26e4913cf",
      "name": "Return Local Validation Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({model: $env.OPENAI_MODEL || 'gpt-5', input: $json.prompt, text:{format:{type:'json_object'}}}) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "28e0f654-c4a3-41d8-8a59-fd1c978f8843",
      "name": "Repair With OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const source=$('Build Repair Prompt').first().json;\nlet text=$json.output_text||'';\nif(!text&&Array.isArray($json.output)) for(const o of $json.output) for(const c of (o.content||[])) if(c.text) text+=c.text;\nconst parsed=JSON.parse(text.match(/\\{[\\s\\S]*\\}/)?.[0]||text);\nreturn [{json:{...parsed,pipeline:source.pipeline,attempt:source.attempt}}];"
      },
      "id": "61ffce18-09a5-47c6-9445-745924de9827",
      "name": "Parse Repaired Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const md=String($json.markdown||'');\nconst words=md.trim().split(/\\s+/).filter(Boolean).length;\nconst forbidden=/\\b(TODO|TBD|PLACEHOLDER)\\b/i.test(md);\nreturn [{json:{...$json,repair_validation:{passed:words>=3000&&!forbidden,word_count:words,forbidden}}}];"
      },
      "id": "d6146130-42a4-441f-bedf-a9f891031efa",
      "name": "Validate Repair",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c9143e8-85be-4192-94d6-39e27c097bb9",
              "leftValue": "={{$json.repair_validation.passed}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c6f3840-2b51-4916-be4d-67da0fd7166e",
      "name": "Repair Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        740,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{...$json,status:'repair_passed',execution_mode:$json.pipeline?.execution_mode || 'OFFLINE',write_performed:false}}];"
      },
      "id": "3fff9bc4-745a-4e18-b3ad-61be196c2427",
      "name": "Return Repaired Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{...$json,status:'manual_review_required'}}];"
      },
      "id": "541c97c9-60d3-443b-b97b-a7f1457ee456",
      "name": "Escalate To Human",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Resolve Execution Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Execution Mode": {
      "main": [
        [
          {
            "node": "Repair Attempt Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair Attempt Guard": {
      "main": [
        [
          {
            "node": "Repair Allowed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair Allowed?": {
      "main": [
        [
          {
            "node": "Build Repair Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate To Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Repair Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Mode Allowed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Mode Allowed?": {
      "main": [
        [
          {
            "node": "Repair With OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Local Validation Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair With OpenAI": {
      "main": [
        [
          {
            "node": "Parse Repaired Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Repaired Output": {
      "main": [
        [
          {
            "node": "Validate Repair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Repair": {
      "main": [
        [
          {
            "node": "Repair Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair Passed?": {
      "main": [
        [
          {
            "node": "Return Repaired Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate To Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd972807-930c-4125-b78e-3ba87981d1c1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
