n8n/workflows/WF-03_REPAIR_LOOP.json
{
  "name": "DS Atlas — Repair Loop",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "document",
              "type": "object"
            },
            {
              "name": "errors",
              "type": "array"
            },
            {
              "name": "attempt",
              "type": "number"
            },
            {
              "name": "pipeline",
              "type": "object"
            }
          ]
        }
      },
      "id": "2a0fcb42-9aab-495c-9ed9-63cb76100fe1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -900,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nconst p = source.pipeline || {};\nconst allowed = new Set(['OFFLINE', 'VALIDATE', 'DRY_RUN', 'LIVE']);\nconst requested = p.execution_mode;\nconst executionMode = typeof requested === 'string' && allowed.has(requested) ? requested : 'OFFLINE';\nreturn [{json:{\n  ...source,\n  pipeline: {\n    ...p,\n    execution_mode: executionMode,\n    dry_run: p.dry_run === false ? false : true,\n    founder_write_approved: p.founder_write_approved === true,\n    credentials_configured: p.credentials_configured === true\n  }\n}}];"
      },
      "id": "631e1810-1345-4692-bf04-e4efcabed2c1",
      "name": "Resolve Execution Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawAttempt = $json.attempt;\nconst valid = typeof rawAttempt === 'number'\n  && Number.isFinite(rawAttempt)\n  && Number.isInteger(rawAttempt)\n  && rawAttempt >= 1\n  && rawAttempt <= 3;\nif (!valid) {\n  return [{json:{\n    ...$json,\n    blocked: true,\n    write_performed: false,\n    reason: 'Repair attempt must be an integer from 1 through 3.'\n  }}];\n}\nreturn [{json:{...$json, blocked:false, attempt:rawAttempt}}];"
      },
      "id": "8dbf5911-7c61-4e64-b2a9-cf727d77d2a6",
      "name": "Repair Attempt Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61a87df2-5ba3-4d54-9cf1-89ae9740d0b6",
              "leftValue": "={{$json.blocked}}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a637181-64a4-4350-9a26-f9fef0502d3b",
      "name": "Repair Allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json;\nconst context = source.context;\nconst schema = context?.schema;\nconst template = context?.template;\nconst governance = context?.governance;\nif (!schema || schema.properties?.schema_version?.const !== '1.0.0') {\n  throw new Error('Repair blocked: canonical schema context is missing or invalid.');\n}\nif (typeof template !== 'string' || !template.trim()) {\n  throw new Error('Repair blocked: canonical template context is missing.');\n}\nif (!governance || typeof governance !== 'object' || !Object.keys(governance).length) {\n  throw new Error('Repair blocked: mandatory governance context is missing.');\n}\nfor (const [path, value] of Object.entries(governance)) {\n  if (!value || typeof value.content !== 'string' || !value.content.trim()) {\n    throw new Error(`Repair blocked: empty governance context ${path}`);\n  }\n}\nif (!source.registry_entry || source.registry_entry.id !== source.document_id) {\n  throw new Error('Repair blocked: document registry identity mismatch.');\n}\nif (!Array.isArray(source.required_sections) || !source.required_sections.length) {\n  throw new Error('Repair blocked: required section registry is missing.');\n}\nif (!source.document || typeof source.document !== 'object' || Array.isArray(source.document)) {\n  throw new Error('Repair blocked: invalid document output is missing.');\n}\nconst prompt = `Repair the supplied Damavand Steel structured document output.\n\nReturn exactly one JSON object conforming to the canonical schema.\nDo not return Markdown, code fences, commentary, or undeclared properties.\nKeep document_id and title identical to the registry entry.\nUse exactly the registered section keys with non-empty string content.\nUse schema_version \"1.0.0\", status \"draft\", and version \"0.1.0\".\nDo not invent business facts.\n\nATTEMPT\n${source.attempt} of 3\n\nREGISTRY ENTRY\n${JSON.stringify(source.registry_entry)}\n\nVALIDATION ERRORS\n${JSON.stringify(source.errors || [])}\n\nINVALID STRUCTURED OUTPUT\n${JSON.stringify(source.document)}\n\nCANONICAL SCHEMA\n${JSON.stringify(schema)}\n\nCANONICAL TEMPLATE\n${template}\n\nDECLARED DEPENDENCIES\n${JSON.stringify(source.dependencies || [])}\n\nGOVERNANCE CONTEXT\n${JSON.stringify(Object.fromEntries(Object.entries(governance).map(([path, value]) => [path, value.content])))}`;\nreturn [{json:{...source, prompt}}];"
      },
      "id": "677ad120-ed8d-47f5-8fa6-b835d9026932",
      "name": "Build Repair Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b263e75c-04e0-4a2a-af11-5a027c85d017",
              "leftValue": "={{ $json.pipeline?.execution_mode === 'DRY_RUN' || $json.pipeline?.execution_mode === 'LIVE' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7c3e49fa-d8ab-4ffc-8104-0b51c5fa781f",
      "name": "OpenAI Mode Allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const mode = $json.pipeline?.execution_mode === 'VALIDATE' ? 'VALIDATE' : 'OFFLINE';\nreturn [{json:{\n  document_id: $json.document?.document_id || $json.document?.id || null,\n  status: mode === 'VALIDATE' ? 'validate_local_only' : 'offline_local_only',\n  execution_mode: mode,\n  network_performed: false,\n  write_performed: false,\n  local_validation_required: true,\n  validation_scope: ['manifest', 'registry', 'schema', 'workflows', 'secrets', 'execution_mode'],\n  validation_command: 'python3 scripts/validate_manifest.py'\n}}];"
      },
      "id": "802c6a18-0ea8-4e56-a96d-98e26e4913cf",
      "name": "Return Local Validation Mode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({model: $env.OPENAI_MODEL || 'gpt-5', input: $json.prompt, text:{format:{type:'json_object'}}}) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "28e0f654-c4a3-41d8-8a59-fd1c978f8843",
      "name": "Repair With OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Build Repair Prompt').first().json;\nlet text = $json.output_text || '';\nif (!text && Array.isArray($json.output)) {\n  for (const output of $json.output) {\n    for (const content of (output.content || [])) {\n      if (typeof content.text === 'string') text += content.text;\n    }\n  }\n}\nif (typeof text !== 'string' || !text.trim()) throw new Error('Repaired structured output is empty.');\nlet repaired;\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  repaired = JSON.parse(match ? match[0] : text);\n} catch (error) {\n  throw new Error(`Repaired structured output parse failed: ${error.message}`);\n}\nif (!repaired || typeof repaired !== 'object' || Array.isArray(repaired)) {\n  throw new Error('Repaired structured output must be an object.');\n}\nreturn [{json:{...source, repaired}}];"
      },
      "id": "61ffce18-09a5-47c6-9445-745924de9827",
      "name": "Parse Repaired Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst g = d.repaired;\nconst schema = d.context?.schema;\nconst errors = [];\nconst isObject = value => value && typeof value === 'object' && !Array.isArray(value);\nif (!isObject(schema) || !isObject(schema.properties)) errors.push('canonical schema missing');\nif (!isObject(g)) errors.push('output is not an object');\nif (!errors.length) {\n  const allowed = Object.keys(schema.properties);\n  for (const key of schema.required || []) {\n    if (!Object.prototype.hasOwnProperty.call(g, key)) errors.push(`missing required property: ${key}`);\n  }\n  for (const key of Object.keys(g)) {\n    if (!allowed.includes(key)) errors.push(`undeclared property: ${key}`);\n  }\n  if (g.schema_version !== schema.properties.schema_version?.const) errors.push('schema version mismatch');\n  if (g.document_id !== d.document_id || g.document_id !== d.registry_entry?.id) errors.push('invalid document identity');\n  if (g.title !== d.registry_entry?.title || typeof g.title !== 'string' || !g.title.trim()) errors.push('invalid document title');\n  if (g.status !== 'draft' || !schema.properties.status.enum.includes(g.status)) errors.push('invalid status');\n  if (g.version !== '0.1.0') errors.push('invalid version');\n  const expectedSections = d.required_sections || [];\n  if (!isObject(g.sections)) {\n    errors.push('malformed sections');\n  } else {\n    for (const key of expectedSections) {\n      if (!Object.prototype.hasOwnProperty.call(g.sections, key)) errors.push(`missing section: ${key}`);\n      else if (typeof g.sections[key] !== 'string' || !g.sections[key].trim()) errors.push(`empty required content: ${key}`);\n    }\n    for (const key of Object.keys(g.sections)) {\n      if (!expectedSections.includes(key) || !Object.prototype.hasOwnProperty.call(schema.properties.sections?.properties || {}, key)) {\n        errors.push(`undeclared section: ${key}`);\n      }\n    }\n  }\n  for (const key of ['dependencies_used', 'entities_referenced', 'rules_referenced', 'open_questions', 'acceptance_criteria']) {\n    if (Object.prototype.hasOwnProperty.call(g, key) && (!Array.isArray(g[key]) || g[key].some(value => typeof value !== 'string'))) {\n      errors.push(`malformed array: ${key}`);\n    }\n  }\n  const declared = [...(d.dependencies || [])].sort();\n  const used = Array.isArray(g.dependencies_used) ? [...g.dependencies_used] : [];\n  if (new Set(used).size !== used.length || JSON.stringify([...used].sort()) !== JSON.stringify(declared)) {\n    errors.push('dependencies_used mismatch');\n  }\n  const words = isObject(g.sections)\n    ? Object.values(g.sections).join(' ').trim().split(/\\s+/).filter(Boolean).length\n    : 0;\n  if (words < Number(d.minimum_words || 0)) errors.push(`word_count ${words} below ${d.minimum_words}`);\n  if (/\\b(TODO|TBD|PLACEHOLDER)\\b/i.test(JSON.stringify(g))) errors.push('forbidden placeholder token found');\n}\nconst wordCount = isObject(g?.sections)\n  ? Object.values(g.sections).join(' ').trim().split(/\\s+/).filter(Boolean).length\n  : 0;\nreturn [{json:{\n  ...d,\n  canonical_output: g,\n  repair_validation: {\n    passed: errors.length === 0,\n    errors,\n    word_count: wordCount,\n    schema_version: g?.schema_version || null\n  }\n}}];"
      },
      "id": "d6146130-42a4-441f-bedf-a9f891031efa",
      "name": "Validate Repair",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c9143e8-85be-4192-94d6-39e27c097bb9",
              "leftValue": "={{$json.repair_validation.passed}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c6f3840-2b51-4916-be4d-67da0fd7166e",
      "name": "Repair Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        740,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{\n  ...$json,\n  status: 'repair_passed',\n  validation_status: 'passed',\n  execution_mode: $json.pipeline?.execution_mode || 'OFFLINE',\n  write_performed: false,\n  structured_output: $json.canonical_output,\n  markdown: $json.markdown\n}}];"
      },
      "id": "3fff9bc4-745a-4e18-b3ad-61be196c2427",
      "name": "Return Repaired Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{...$json,status:'manual_review_required'}}];"
      },
      "id": "541c97c9-60d3-443b-b97b-a7f1457ee456",
      "name": "Escalate To Human",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nif (d.repair_validation?.passed !== true) throw new Error('Repair rendering blocked: canonical output is invalid.');\nconst output = d.canonical_output;\nlet markdown = d.context.template;\nconst entry = d.registry_entry;\nconst replacements = {\n  '{{DOCUMENT_ID}}': output.document_id,\n  '{{TITLE}}': output.title,\n  '{{DOMAIN}}': entry.domain,\n  '{{OWNER}}': entry.owner,\n  '{{DEPENDENCIES}}': (d.dependencies || []).join(', ') || 'None',\n  '{{MINIMUM_WORDS}}': String(d.minimum_words),\n  '{{VERSION}}': output.version\n};\nfor (const [token, value] of Object.entries(replacements)) {\n  markdown = markdown.split(token).join(String(value ?? ''));\n}\nconst specialHeadings = {\n  seo_impact: 'SEO Impact',\n  ai_usage: 'AI Usage',\n  wordpress_mapping: 'WordPress Mapping'\n};\nconst headingFor = key => specialHeadings[key] || key.split('_').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');\nfor (const key of d.required_sections || []) {\n  const marker = `## ${headingFor(key)}`;\n  const parts = markdown.split(marker);\n  if (parts.length !== 2) throw new Error(`Template heading missing or duplicated: ${marker}`);\n  markdown = `${parts[0]}${marker}\\n\\n${output.sections[key].trim()}${parts[1]}`;\n}\nif (/\\{\\{[^}]+\\}\\}/.test(markdown)) throw new Error('Template rendering left unresolved tokens.');\nif (!markdown.trim()) throw new Error('Deterministic Markdown rendering produced empty output.');\nreturn [{json:{...d, markdown: markdown.trim() + '\\n'}}];"
      },
      "id": "c113cb57-92d8-4fe7-b20f-61161e953c03",
      "name": "Render Repaired Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Resolve Execution Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Execution Mode": {
      "main": [
        [
          {
            "node": "Repair Attempt Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair Attempt Guard": {
      "main": [
        [
          {
            "node": "Repair Allowed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair Allowed?": {
      "main": [
        [
          {
            "node": "Build Repair Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate To Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Repair Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Mode Allowed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Mode Allowed?": {
      "main": [
        [
          {
            "node": "Repair With OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Local Validation Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair With OpenAI": {
      "main": [
        [
          {
            "node": "Parse Repaired Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Repaired Output": {
      "main": [
        [
          {
            "node": "Validate Repair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Repair": {
      "main": [
        [
          {
            "node": "Repair Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair Passed?": {
      "main": [
        [
          {
            "node": "Render Repaired Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate To Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Repaired Markdown": {
      "main": [
        [
          {
            "node": "Return Repaired Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd972807-930c-4125-b78e-3ba87981d1c1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
